#pane{
    -fx-background-image: url("/img/board_png.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 800 800;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}